<template>
    <v-card>
        <v-toolbar dark color="success">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Account Settings</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>

        <v-container fluid>
            <v-form ref="form">
                <v-text-field
                :disabled="true"
                v-model="user.email"
                label="E-mail"
                required
                append-icon="mdi-email"
                ></v-text-field>

                <v-text-field
                v-model="user.name"
                label="Name"
                required
                append-icon="mdi-account-box"
                ></v-text-field>

                <v-text-field
                    v-model="password"
                    :disabled="hasPassword"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPassword ? 'text' : 'password'"
                    label="New Password"
                    required
                    counter
                    @click:append="showPassword = !showPassword"
                ></v-text-field>

                <v-text-field
                    v-model="password_confirmation"
                    :disabled="!password"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPassword ? 'text' : 'password'"
                    label="Confirm Password"
                    required
                    counter
                    @click:append="showPassword = !showPassword"
                ></v-text-field>
                
                <div class="text-xs-center">
                    <v-btn
                        :disabled="!user.name"
                        color="success lighten-1"
                        @click="submit"
                    >
                        Update
                        <v-icon right dark>mdi-lock-open</v-icon>
                    </v-btn>
                </div>
            </v-form>
        </v-container>

    </v-card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
export default {
    data () {
        return {
            email: '',
            showPassword: false,
            password: '',
            apiDomain: "http://localhost:8000"
        }
    },

    computed : {
    ...mapGetters({
        user : 'auth/user',
        })
    },

    methods : {
        ...mapActions({
            setAlert : 'alert/set',
            setUser  : 'auth/setUser',
            // setPassword : 'auth/setPassword',
        }),

        close() {
            this.$emit('closed', false)
        },

        submit() {
            const config = {
                method: "post",
                url: this.apiDomain + "/api/auth/update-account",
                data: {
                    'name' : this.user.name,
                    'email' : this.user.email,
                    // 'password' : this.password,
                    // 'password_confirmation' : this.password_confirmation
                }
            };

            this.axios(config)
                .then( () => {
                    this.setAlert({
                        status : true,
                        color  : 'success',
                        text   : 'Account berhasil diupdate',
                    })
                    // this.close()
                })
                .catch( (response) => {
                    console.log(response)
                    this.setAlert({
                        status : true,
                        color  : 'error',
                        text   : 'Account gagal diupdate ',
                    })
                })

            if (this.password) {
                const config2 = {
                    method: "post",
                    url: this.apiDomain + "/api/auth/update-password",
                    data: {
                        // 'name' : this.user.name,
                        'email' : this.user.email,
                        'password' : this.password,
                        'password_confirmation' : this.password_confirmation
                    }
                };

                this.axios(config2)
                    .then( () => {
                        this.setAlert({
                            status : true,
                            color  : 'success',
                            text   : 'Akun berhasil diupdate',
                        })
                        // this.close()
                    })
                    .catch( (response) => {
                        console.log(response)
                        this.setAlert({
                            status : true,
                            color  : 'error',
                            text   : 'Password gagal diupdate ',
                        })
                    })
            }
        }
    },
}
</script>