<template>
<v-app>
    <!--  -->
    <v-card>
        <v-toolbar dark color="green darken-1">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Login</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>

        <v-container fluid>
            <v-form ref="form">
                <v-text-field
                v-model="email"
                label="E-mail"
                required
                append-icon="mdi-email"
                ></v-text-field>
                <v-text-field
                v-model="password"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                label="Password"
                counter
                @click:append="showPassword = !showPassword"
                ></v-text-field>

                <div class="text-xs-center">
                    <v-btn
                        color="green"
                        @click="submit"
                    >
                        Login
                        <v-icon right dark>mdi-lock-open</v-icon>
                    </v-btn>
                </div>
                <br>
                <a href="" v-on:click.prevent="isForgotPassword = !isForgotPassword">
                    Forgot E-mail/Password?
                </a>

                <div class="text-xs-center" v-show="isForgotPassword">
                    <p>Anda akan diarahkan ke form Register.<br>
                    Masukkan nama dan email, lalu klik Register.<br>
                    Jika email sudah terdaftar, klik Resend OTP.</p>
                    <v-btn
                        color="primary"
                        @click="forgotPassword"
                    >
                        Go
                        <v-icon right dark>mdi-chevron-right</v-icon>
                    </v-btn>
                </div>

            </v-form>
        </v-container>

    </v-card>
</v-app>
</template>

<script>
import { mapActions } from 'vuex';
export default {
    data () {
        return {
            email: '',
            showPassword: false,
            isForgotPassword: false,
            password: '',
            apiDomain: "http://localhost:8000"
        }
    },

    methods : {
        ...mapActions({
            setAlert : 'alert/set',
            setToken : 'auth/setToken',
            setUser  : 'auth/setUser',
            setDialogComponent : 'dialog/setComponent',
        }),

        close() {
            this.$emit('closed', false)
        },

        forgotPassword(){
            import('./DialogComponent.vue')
            this.setDialogComponent({'component' : 'register-component'})
        },

        submit() {
            const config = {
                method: "post",
                url: this.apiDomain + "/api/auth/login",
                data: {
                    'email' : this.email,
                    'password': this.password
                }
            };

            this.axios(config)
                .then( (response) => {
                    this.setToken(response.data.data.token)
                    this.setAlert({
                        status : true,
                        color  : 'success',
                        text   : 'Login Berhasil',
                    })
                    this.close()
                })
                .catch( (response) => {
                    console.log(response)
                    this.setAlert({
                        status : true,
                        color  : 'error',
                        text   : 'Login Gagal',
                    })
                })
        }
    },
}
</script>