<template>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >
    <alert/>
    <v-container>
        <h1 style="text-align: center;">{{this.volcanoname.toUpperCase()}} VOLCANO</h1>

        <v-text-field
        v-model="alamat"
        :counter="100"
        :rules="alamatRules"
        label="Address"
        required
        ></v-text-field>

        <v-text-field
        v-model="latitude"
        :counter="20"
        :rules="latitudeRules"
        label="Latitude"
        required
        ></v-text-field>

        <v-text-field
        v-model="longitude"
        :counter="20"
        :rules="latitudeRules"
        label="Longitude"
        required
        ></v-text-field>

        <v-text-field
        v-model="elevation"
        :counter="20"
        :rules="elevationRules"
        label="Elevation"
        required
        type="number"
        ></v-text-field>

        <v-container>
          <v-row no-gutters>
            <v-responsive>
                <div id="preview">
                  <img v-if="imagepreview" :src="imagepreview" contain />
                </div>
            </v-responsive>
            <v-responsive>
                <v-file-input
                  :rules="filerules"
                  show-size
                  counter
                  multiple
                  label="Image"
                  name="image"
                  id="image"
                  prepend-icon="mdi-camera"
                  @change="selectFile"
                  accept="image/*"
                ></v-file-input>
            </v-responsive>
          </v-row>
        </v-container>

        <v-container></v-container>
        <v-btn
        :disabled="!valid"
        color="primary"
        class="mr-4"
        @click="submit"
        >
        Save
        </v-btn>

        <v-btn
        color="error"
        class="mr-4"
        @click="reset"
        >
        Reset Form
        </v-btn>

    </v-container>
  </v-form>
</template>

<script>
  import {  mapActions } from 'vuex'
  import Alert from '@/components/AlertComponent.vue'
  import axios from 'axios'

  export default {
    components:{Alert},
    data: () => ({
      valid: true,
      filerules:[
        files => !files || !files.some(file => file.size > 2e6) || 'Image size should be less than 2 MB!'
      ],
      alamat: '',
      alamatRules: [
        v => !!v || 'Address is required',
        v => (v && v.length <= 100) || 'Address must be less than 100 characters',
      ],
      latitude: '',
      latitudeRules: [
        v => !!v || 'Latitude is required',
        v => (v && v.length <= 20) || 'Latitude must be less than 20 characters',
      ],
      longitude: '',
      longitudeRules: [
        v => !!v || 'Longitude is required',
        v => (v && v.length <= 20) || 'Longitude must be less than 20 characters',
      ],
      elevation: '',
      elevationRules: [
        v => !!v || 'Elevation is required number only',
        v => (v && v.length <= 20) || 'Elevation must be less than 20 characters',
      ],
      apiDomain:'http://localhost:8000',
      currentFile:null,
      imagepreview:null,
      profile:[],
      imageFile:[],
      image:null,
      formData: new FormData(),
      volcanoname:'',
      volcano:[],
    }),


    methods: {
        ...mapActions({
            setAlert  : 'alert/set',
        }),

        selectFile(file) {
          this.currentFile = file[0]
          this.formData.append('foto', this.currentFile)
          this.imagepreview = URL.createObjectURL(this.currentFile);
        },

        submit() {
          let {id}=this.$route.params
          let {save}=this.$route.params
          this.formData.append('alamat', this.alamat)
          this.formData.append('latitude', this.latitude)
          this.formData.append('longitude', this.longitude)
          this.formData.append('elevation', this.elevation)

          if (save==="new") {
            this.formData.append('volcanos_id', id)

            axios.post(`${this.apiDomain}/api/profile`, this.formData,{headers: {
              'Content-Type': 'multipart/form-data; application/x-www-form-urlencoded;'}})
              .then((response) =>{
                  console.log(response)
                  this.setAlert({
                      status : true,
                      color  : 'success',
                      text  : 'New profile registered successfully',
                  })
                  this.currentFile=null
                  this.$router.push('/detail/'+id);
              })
              .catch((error) =>{
                  console.log(error)
                  this.setAlert({
                      status : true,
                      color  : 'error',
                      text  : 'Failed update profile',
                  })
              });
          }

          if (save==="update") {
            this.formData.append('volcanos_id', this.profile.volcanos_id)
            axios.post(`${this.apiDomain}/api/profile/${id}?_method=PUT`, this.formData,{headers: {
              'Content-Type': 'multipart/form-data; application/x-www-form-urlencoded;'}})
              .then((response) =>{
                  console.log(response)
                  this.setAlert({
                      status : true,
                      color  : 'success',
                      text  : 'Update profile successfully',
                  })
                  this.$router.push('/detail/'+this.profile.volcanos_id);
              })
              .catch((error) =>{
                  console.log(error)
                  this.setAlert({
                      status : true,
                      color  : 'error',
                      text  : 'Failed update profile',
                  })
              });
          }
            
      },
        
      reset () {
        this.$refs.form.reset()
      },

      go(){
        let {id}=this.$route.params
        let {save}=this.$route.params
        if(save==='new'){
          const config={
              methods:'get',
              url:`${this.apiDomain}/api/volcano/${id}`
          }

          this.axios(config)
            .then(response=>{
                let{data}=response.data
                this.volcano=data
                this.volcanoname=this.volcano.nama
            })
            .catch(error=>{
                console.log(error)
            })
        }

        if(save==='update'){
          const config={
              methods:'get',
              url:`${this.apiDomain}/api/profile/${id}`
          }

          this.axios(config)
            .then(response=>{
                let{data}=response.data
                this.profile=data
                this.alamat=this.profile.alamat
                this.latitude=this.profile.latitude
                this.longitude=this.profile.longitude
                this.elevation=this.profile.elevation.toString()
                this.go2()
            })
            .catch(error=>{
                console.log(error)
            })
        }
      },

      go2(){
          const config={
              methods:'get',
              url:`${this.apiDomain}/api/volcano/${this.profile.volcanos_id}`
          }

          this.axios(config)
            .then(response=>{
                let{data}=response.data
                this.volcano=data
                this.volcanoname=this.volcano.nama
            })
            .catch(error=>{
                console.log(error)
            })
      }
        
    },
    created(){
      this.go()
    }
  }
</script>

<style>
body {
  background-color: #e2e2e2;
}

#app {
  padding: 20px;
}

#preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview img {
  max-width: 200%;
  max-height: 200px;
}
</style>