<template>
    <v-card>
        <v-toolbar dark color="orange">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Register</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>

        <v-container fluid>
            <v-form ref="form">
                <v-text-field
                v-model="name"
                :disabled="isRegistered"
                label="Name"
                required
                append-icon="mdi-account-box"
                ></v-text-field>

                <v-text-field
                v-model="email"
                :disabled="isRegistered"
                label="E-mail"
                required
                append-icon="mdi-email"
                ></v-text-field>

                <div class="text-xs-center">
                    <v-btn
                        :disabled="!name || !email || isRegistered"

                        color="orange"
                        @click="register"
                    >
                        Register
                        <v-icon right dark>mdi-lock-open</v-icon>
                    </v-btn>
                </div>

                <div class="text-xs-center mt-2">
                    <v-btn
                        :disabled="!isEmailTaken || isTokenSent"

                        color="success lighten-1"
                        @click="resendOtp"
                    >
                        Resend OTP
                        <v-icon right dark>mdi-numeric</v-icon>
                    </v-btn>
                </div>

                <v-text-field
                    v-model="otp"
                    v-if="isRegistered"
                    :disabled="isVerified"
                    label="OTP"
                    required
                    append-icon="mdi-numeric"
                ></v-text-field>

                <div class="text-xs-center">
                    <v-btn
                        v-if="isRegistered"
                        :disabled="isVerified"
                        color="success lighten-1"
                        @click="verify"
                    >
                        Verify
                        <v-icon right dark>mdi-lock-open</v-icon>
                    </v-btn>
                </div>

                <v-text-field
                    v-model="password"
                    v-if="isVerified"
                    :disabled="hasPassword"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPassword ? 'text' : 'password'"
                    label="Password"
                    required
                    counter
                    @click:append="showPassword = !showPassword"
                ></v-text-field>

                <v-text-field
                    v-model="password_confirmation"
                    v-if="isVerified"
                    :disabled="hasPassword"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPassword ? 'text' : 'password'"
                    label="Confirm Password"
                    required
                    counter
                    @click:append="showPassword = !showPassword"
                ></v-text-field>

                <div class="text-xs-center">
                    <v-btn
                        v-if="isVerified"
                        :disabled="hasPassword"
                        color="success lighten-1"
                        @click="updatePassword"
                    >
                        Update Password
                        <v-icon right dark>mdi-lock-open</v-icon>
                    </v-btn>
                </div>


            </v-form>
        </v-container>

    </v-card>
</template>

<script>
import { mapActions } from 'vuex';
export default {
    data () {
        return {
            name:'',
            email: '',
            isRegistered: false,
            isEmailTaken: false,
            isOtpSent: false,
            isVerified: false,
            showPassword: false,
            hasPassword: false,
            apiDomain: "http://localhost:8000"
        }
    },
    methods : {
        ...mapActions({
            setAlert : 'alert/set',
        }),

        close() {
            this.$emit('closed', false)
        },

        register() {
            const config = {
                method: "post",
                url: this.apiDomain + "/api/auth/register",
                data: {
                    'name'  : this.name,
                    'email' : this.email,
                },
            };

            this.axios(config)
                .then( () => {
                    this.setAlert({
                        status : true,
                        color  : 'success',
                        text   : 'Register Berhasil. Kode OTP kami kirimkan ke email Anda',
                    })
                    
                    this.isRegistered = true                 
                })
                .catch( (error) => {
                    let errorMsg = error.response.data.email[0]
                    console.log(errorMsg)
                                       
                    this.setAlert({
                        status : true,
                        color  : 'error',
                        text   : 'Register Gagal: ' + errorMsg,
                    })

                    this.isEmailTaken = true
                    
                });
        },

        resendOtp() {
            const config = {
                method: "post",
                url: this.apiDomain + "/api/auth/regenerate-otp-code",
                data: {
                    'email' : this.email,
                },
            };

            this.axios(config)
                .then( () => {
                    this.setAlert({
                        status : true,
                        color  : 'success',
                        text   : 'Kode OTP berhasil digenerate. Silakan cek email Anda',
                    })
                    
                    this.isRegistered = true
                    this.isOtpSent = true
                })
                .catch( (error) => {
                    console.log(error.response)
                                       
                    this.setAlert({
                        status : true,
                        color  : 'error',
                        text   : 'Kode OTP gagal digenerate',
                    })
                    
                });
        },

        verify() {
            const config = {
                method: "post",
                url: this.apiDomain + "/api/auth/verification",
                data: {
                    'otp'  : this.otp,
                },
            };

            this.axios(config)
                .then( () => {
                    this.setAlert({
                        status : true,
                        color  : 'success',
                        text   : 'Akun berhasil diverifikasi. Silakan masukkan password',
                    })

                    this.isVerified = true
                    
                })
                .catch( (error) => {
                    let errorMsg = error.response.data.message
                    console.log(errorMsg)
                    
                    this.setAlert({
                        status : true,
                        color  : 'error',
                        text   : 'Verifikasi Gagal: ' + errorMsg,
                    })

                    this.isOtpSent = false
                });
        },

        updatePassword() {
            const config = {
                method: "post",
                url: this.apiDomain + "/api/auth/update-password",
                data: {
                    'email'     : this.email,
                    'password'  : this.password,
                    'password_confirmation' : this.password_confirmation
                },
            };

            this.axios(config)
                .then( () => {
                    this.setAlert({
                        status : true,
                        color  : 'success',
                        text   : 'Password berhasil diupdate. Silakan login',
                    })

                    this.hasPassword = true
                    this.close()
                    
                })
                .catch( (response) => {
                    console.log(response.message)
                    this.setAlert({
                        status : true,
                        color  : 'error',
                        text   : 'Password gagal diupdate',
                    })
                });
        }
    },
}
</script>