<template>
<v-app>
    <alert/>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >

    <v-container>
        <h1 style="text-align: center;">Status</h1>

        <v-text-field
        v-model="statusname"
        :counter="20"
        :rules="statusRules"
        label="Status"
        required
        ></v-text-field>

        <v-textarea
            counter
            label="Info"
            :rules="infoRules"
            :value="infoValue"
            v-model="info"
            required
        ></v-textarea>

        <v-btn
        :disabled="!valid"
        color="primary"
        class="mr-4"
        @click="submit"
        >
        Save
        </v-btn>

        <v-btn
        color="error"
        class="mr-4"
        @click="reset"
        >
        Reset Form
        </v-btn>

    </v-container>
  </v-form>
</v-app>
</template>

<script>
import {  mapActions } from 'vuex'
import Alert from '@/components/AlertComponent.vue'

  export default {
      components:{Alert},
    data: () => ({
      valid: true,
      statusname: '',
      statusRules: [
        v => !!v || 'Status is required',
        v => (v && v.length <= 20) || 'Status must be less than 20 characters',
      ],
      infoRules: [v => v.length <= 500 || 'Max 500 characters'],
      infoValue: '',
      info:'',
      apiDomain:'http://localhost:8000',
      statusread:[],
    }),


    methods: {
        ...mapActions({
            setAlert  : 'alert/set',
        }),

        submit() {
            let {id}=this.$route.params
            let {save}=this.$route.params
            if(save==='new'){
              const config = { 
                method: "post", 
                url: this.apiDomain + "/api/state",
                data : {
                'status' : this.statusname, 
                'info' : this.info,
                }
            };

            this.axios(config)
                .then( (response) => {
                    console.log(response.data)
                    this.$refs.form.reset()
                    this.setAlert({
                        status : true,
                        color  : 'success',
                        text  : 'New status registered',
                    })
                    this.$router.push('/status');
                    })
                .catch( (response) => {
                    console.log(response)
                    this.setAlert({
                        status : true,
                        color  : 'error',
                        text  : 'New status failed to save',
                    })
                })
            }

            if(save==='update'){
              const config = { 
                method: 'POST', 
                url:`${this.apiDomain}/api/state/${id}`,
                params:{_method:'PUT'},
                data : {
                  'status' : this.statusname, 
                  'info' : this.info,
                },
            };

            this.axios(config)
                .then( (response) => {
                    console.log(response.data)
                    this.$refs.form.reset()
                    this.setAlert({
                        status : true,
                        color  : 'success',
                        text  : 'Status Updated',
                    })
                    this.$router.push('/status');
                    })
                .catch( (response) => {
                    console.log(response)
                    this.setAlert({
                        status : true,
                        color  : 'error',
                        text  : 'Failed update status',
                    })
                })
            }
        },
        reset () {
            this.$refs.form.reset()
      },
    },
    created(){
            let {id}=this.$route.params
            let {save}=this.$route.params
            if(save==='update'){
              const config = { 
                method: "get", 
                url:`${this.apiDomain}/api/state/${id}`,
            };

            this.axios(config)
                .then(response=>{
                    let{data}=response.data
                    this.statusread=data
                    console.log(this.statusread)
                    this.statusname=this.statusread.status
                    this.info=this.statusread.info
                })
                .catch(error=>{
                    console.log(error)
                })

          }
    }
  }
</script>