<template>
    <v-flex xs6>
        <v-card :to="'/detail/'+volcano.id">
          <v-img
            :src="volcanoprofile.foto ? apiDomain+'/img/'+volcanoprofile.foto:'https://cdn.pixabay.com/photo/2021/01/18/06/10/painting-5927219_960_720.jpg'"
            class="white--text"
            height="200px"
            >
            <v-card-title class="fill-height align-end" style="color:black;font-weight: bold;">
                <v-chip 
                    class="ma-2"
                    color="indigo"
                    text-color="white"
                    >
                    <v-avatar left>
                        <v-icon>mdi-terrain</v-icon>
                    </v-avatar>
                    {{volcano.nama.toUpperCase()}}
                </v-chip>
            </v-card-title>

            <!-- <v-card-title
              class="fill-height align-end"
              style="color:black;font-weight: bold;"
            >{{volcano.nama.toUpperCase()}}</v-card-title> -->
          </v-img>

          <v-card-actions>
            <span>{{volcano.sejarah.substring(0,100)}}...</span>
          </v-card-actions>
        </v-card>
    </v-flex>
</template>

<script>
export default{
    props:['volcano'],
    data:()=>({
        volcanoprofile:{},
        apiDomain:'http://localhost:8000',
    }),
    methods:{
        go(){
            const config={
            methods:'get',
            url:`${this.apiDomain}/api/volcano/profile/${this.volcano.id}`
        }
        this.axios(config)
            .then(response=>{
                let{data}=response.data
                this.volcanoprofile=data
            })
            .catch(error=>{
                console.log(error)
            })
        }
    },
    created(){
        this.go()
    }
}
</script>