<template>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >
    <alert/>
    <v-container>
        <h1 style="text-align: center;">Volcanos</h1>
        
        <v-text-field
        v-model="name"
        :counter="50"
        :rules="nameRules"
        label="Name"
        required
        ></v-text-field>

        <v-select
        v-model="select"
        :items="items"
        :rules="[v => !!v || 'Status is required']"
        label="Status"
        return-object
        @change="indexfrom(select)"
        required
        ></v-select>

        <v-textarea
            counter
            v-model="history"
            label="History"
            :rules="historyRules"
            :value="historyValue"
            required
        ></v-textarea>

        <v-btn
        :disabled="!valid"
        color="primary"
        class="mr-4"
        @click="submit"
        >
        Save
        </v-btn>

        <v-btn
        :disabled=!valid
        color="error"
        class="mr-4"
        @click="reset"
        >
        Reset Form
        </v-btn>

    </v-container>
  </v-form>
</template>

<script>
  import {  mapActions } from 'vuex'
  import Alert from '@/components/AlertComponent.vue'

  export default {
    components:{Alert},
    data: () => ({
      valid: true,
      name: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 50) || 'Name must be less than 50 characters',
      ],
      select: null,
      items: [],
      itemall:[],
      itemindex:[],
      historyRules: [v => v.length <= 500 || 'Max 500 characters'],
      historyValue: '',
      history:'',
      apiDomain:'http://localhost:8000',
    }),


    methods: {
        ...mapActions({
            setAlert  : 'alert/set',
        }),

        indexfrom(select) {
          this.select = this.items.indexOf(select)
        },

        submit() {
          let {id}=this.$route.params
          let {save}=this.$route.params
          if(save==='new'){
            const config = { 
                method: "post", 
                url: this.apiDomain + "/api/volcano",
                data : {
                'nama' : this.name, 
                'statuses_id' : this.itemindex[this.select],
                'sejarah':this.history,
                }
            };
            
            this.axios(config)
                .then( (response) => {
                    console.log(response.data)
                    this.$refs.form.reset()
                    this.setAlert({
                        status : true,
                        color  : 'success',
                        text  : 'New volcano registered',
                    })
                    this.$router.push('/volcano');
                    })
                .catch( (response) => {
                    console.log(response)
                    this.setAlert({
                        status : true,
                        color  : 'error',
                        text  : 'New volcano failed to save',
                    })
                })
          }
          
          if(save==='update'){
            const config = { 
                method: "post", 
                url: `${this.apiDomain}/api/volcano/${id}`,
                params:{_method:'PUT'},
                data : {
                'nama' : this.name, 
                'statuses_id' : this.itemindex[this.select],
                'sejarah':this.history,
                }
            };
            
            this.axios(config)
                .then( (response) => {
                    console.log(response.data)
                    this.$refs.form.reset()
                    this.setAlert({
                        status : true,
                        color  : 'success',
                        text  : 'Updated volcano successfully',
                    })
                    this.$router.push('/detail/'+id);
                    })
                .catch( (response) => {
                    console.log(response)
                    this.setAlert({
                        status : true,
                        color  : 'error',
                        text  : 'Failed update',
                    })
                })
          }
        },
      reset () {
        this.$refs.form.reset()
      },
      go(){
        const config={
          methods:'get',
          url:`${this.apiDomain}/api/state`
        }

        this.axios(config)
            .then(response=>{
                let{data}=response.data
                this.itemall=data
                this.itemall.forEach(element => {
                  this.items.push(element.status)
                  this.itemindex.push(element.id)
                });
            })
            .catch(error=>{
                console.log(error)
            })
      },
      check(){
        let {id}=this.$route.params
        let {save}=this.$route.params
        if(save==='update'){
          const config={
          methods:'get',
          url:`${this.apiDomain}/api/volcano/profile/${id}`
        }

        this.axios(config)
            .then(response=>{
                let{data}=response.data
                this.volcano=data
                this.name=this.volcano.nama
                this.history=this.volcano.sejarah
                this.select=this.volcano.status
            })
            .catch(error=>{
                console.log(error)
            })
      }
      }
    },
    created(){
      this.go()
      this.check()
    }
  }
</script>