<template>
    <div>
        <alert/>
        <h1 style="text-align: center;">STATUS LIST</h1>
        <v-card>
            <v-card-text>
                <v-simple-table dense>
                    <tbody>
                        <tr>
                            <td><v-icon></v-icon><b>STATUS</b></td>
                            <td><v-icon></v-icon><b>INFO</b></td>
                            <td v-if="!guest"><v-icon></v-icon><b>Action</b></td>
                        </tr>
                        <tr v-for="status in statuses" 
                            :key="`status-`+status.id">
                            <td>{{status.status}}</td>
                            <td>{{status.info}}</td>
                            <td v-if="!guest">
                                <v-btn
                                color="warning"
                                icon
                                dark
                                :href="'/newstatus/update/'+status.id"
                                >
                                <v-icon>mdi-pencil-outline</v-icon>
                                </v-btn>
                                
                                <v-btn
                                    color="error"
                                    icon
                                    dark
                                    @click="hapus(status.id)"
                                    >
                                    <v-icon>mdi-delete</v-icon>
                                </v-btn>
                                
                            </td>
                        </tr>
                    </tbody>
                </v-simple-table>
            </v-card-text>
            
        </v-card>
        <div class="my-2">
            <v-btn
                v-if="!guest"
                color="primary"
                fab
                dark
                href="/newstatus/new/new"
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Alert from '@/components/AlertComponent.vue'

export default {
    components:{Alert},
    data:()=>({
        statuses:[],
        apiDomain:'http://localhost:8000',
        hapusdata:[],
    }),

    computed : {
    ...mapGetters({
        guest : 'auth/guest',
        })
    },

    methods:{
        ...mapActions({
            setAlert  : 'alert/set',
        }),

        hapus: function (id) {
            const config = {
            method: "post",
            url: `${this.apiDomain}/api/state/${id}`,
            params: { _method: "DELETE" }

            }

            this.axios(config)
            .then((response) => {
                this.hapusdata=response
                this.go()
                this.setAlert({
                    status : true,
                    color  : 'success',
                    text  : 'Status deleted',
                })
            })
            .catch((error) => {
                console.log(error)
                this.setAlert({
                    status : true,
                    color  : 'error',
                    text  : 'Failed delete status',
                })
            })
        },
        go(){
            const config={
            methods:'get',
            url:`${this.apiDomain}/api/state`
        }

        this.axios(config)
            .then(response=>{
                let{data}=response.data
                this.statuses=data
            })
            .catch(error=>{
                console.log(error)
            })
        }
    },
    created(){
        this.go()
    }
}
</script>