<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <h2>Database Gunung Indonesia</h2>
    <v-layout wrap>
      <volcano-item-component 
        v-for="volcano in volcanos" 
        :key="`volcano-`+volcano.id"
        :volcano="volcano"
      >
      </volcano-item-component>
    </v-layout>
    <div class="my-2">
        <v-btn
          v-if="!guest"
          color="primary"
          fab
          dark
          href="/newvolcano/new/new"
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
    </div>
  </v-container>
</template>

<script>
import VolcanoItemComponentVue from '@/components/VolcanoItemComponent.vue'
import { mapGetters } from 'vuex'

  export default{

    data:()=>({
      apiDomain:'http://localhost:8000',
      volcanos:[],
    }),

    computed : {
    ...mapGetters({
        guest : 'auth/guest',
        })
    },

    components:{
      'volcano-item-component':VolcanoItemComponentVue
    },

    methods:{
      go(){
        const config={
        method:'get',
        url:this.apiDomain+'/api/volcano/all'
      }
      
      this.axios(config)
        .then(response=>{
          let{data}=response.data
          this.volcanos=data
        })
        .catch(error=>{
          console.log(error)
        })
      },
    },

    created(){
      this.go()
    }
  }
</script>
