<template>
    <div>
        <alert/>
        <h1 style="text-align: center;">VOLCANO PROFILE</h1>
        <v-card v-if="volcano.id">
            <v-img :src="volcano.foto ? apiDomain+'/img/'+volcano.foto:'https://cdn.pixabay.com/photo/2021/01/18/06/10/painting-5927219_960_720.jpg'" class="white--text" height="300px">
                <!--  -->
                <v-btn
                    v-if="!guest"
                    color="purple"
                    fab
                    dark
                    absolute 
                    right
                    :href="volcano.profile_id ? '/editprofile/'+volcano.profile_id+'/update':'/editprofile/'+volcano.id+'/new'"
                    >
                    <v-icon>mdi-notebook-edit-outline</v-icon>
                    </v-btn>
                <v-card-title class="fill-height align-end" style="color:black;font-weight: bold;">
                    <v-chip 
                        class="ma-2"
                        color="indigo"
                        text-color="white"
                        >
                        <v-avatar left>
                            <v-icon>mdi-terrain</v-icon>
                        </v-avatar>
                        {{volcano.nama.toUpperCase()}}
                    </v-chip>
                </v-card-title>
            </v-img>

            <v-card-text>
                <v-simple-table dense>
                    <tbody>
                        <tr>
                            <td><v-icon>mdi-terrain</v-icon> Gunung</td>
                            <td class="blue--text">
                                {{volcano.nama}}
                                <!--  -->
                                <v-btn
                                    v-if="!guest"
                                    color="orange"
                                    icon
                                    dark
                                    :href="'/newvolcano/update/'+volcano.id"
                                    >
                                    <v-icon>mdi-pencil-outline</v-icon>
                                </v-btn>
                                <!--  -->
                                <v-btn
                                    v-if="!guest"
                                    color="error"
                                    icon
                                    dark
                                    @click="hapus(volcano.id)"
                                    >
                                    <v-icon>mdi-delete</v-icon>
                                </v-btn>
                            </td>
                        </tr>
                        <tr>
                            <td><v-icon>mdi-format-list-bulleted-type</v-icon> Status</td>
                            <td>{{volcano.status}}</td>
                        </tr>
                        <tr>
                            <td><v-icon>mdi-home</v-icon> Alamat</td>
                            <td>{{volcano.alamat}}</td>
                        </tr>
                        <tr>
                            <td><v-icon>mdi-map-marker</v-icon> Latitude</td>
                            <td>{{volcano.latitude}}</td>
                        </tr>
                        <tr>
                            <td><v-icon>mdi-map-marker</v-icon> Longitude</td>
                            <td>{{volcano.longitude}}</td>
                        </tr>
                        <tr>
                            <td><v-icon>mdi-map-marker-up</v-icon>Elevation</td>
                            <td>{{volcano.elevation}}</td>
                        </tr>
                        <tr>
                            <td><v-icon>mdi-book-open-page-variant</v-icon> Sejarah</td>
                            <td>{{volcano.sejarah}}</td>
                        </tr>
                    </tbody>
                </v-simple-table>
            </v-card-text>
            
        </v-card>
    </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import Alert from '@/components/AlertComponent.vue'

  export default {
    components:{Alert},
    data:()=>({
        volcano:{},
        apiDomain:'http://localhost:8000',
        hapusdata:[]
    }),

    computed : {
    ...mapGetters({
        guest : 'auth/guest',
        })
    },

    methods:{
        ...mapActions({
            setAlert  : 'alert/set',
        }),
        go(){
            let {id}=this.$route.params
            const config={
            methods:'get',
            url:`${this.apiDomain}/api/volcano/profile/${id}`
        }

        this.axios(config)
            .then(response=>{
                let{data}=response.data
                this.volcano=data
            })
            .catch(error=>{
                console.log(error)
            })
        },
        hapus: function (id) {
            const config = {
            method: "post",
            url: `${this.apiDomain}/api/volcano/${id}`,
            params: { _method: "DELETE" }
            }

            this.axios(config)
            .then((response) => {
                this.hapusdata=response
                this.go()
                this.setAlert({
                    status : true,
                    color  : 'success',
                    text  : 'Volcano deleted',
                })
                this.$router.push('/');
            })
            .catch((error) => {
                console.log(error)
                this.setAlert({
                    status : true,
                    color  : 'error',
                    text  : 'Failed delete volcano',
                })
            })
        },
    },
    created(){
        this.go()
    }
}
</script>