<template>
  <v-app>
    
    <alert-component/>
    <dialog-component/>

    <v-snackbar
      v-model="snackbarStatus"
      color="success"
      middle      
      multi-line
      outlined
    >
    <!-- timeout="2000" -->
      {{ snackbarText }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbarStatus = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  
    <v-navigation-drawer app v-model="drawer">
    <v-list>
      <v-list-item v-if="!guest">
        <v-list-item-avatar>
          <v-img :src="user.photo_profile ? apiDomain + user.photo_profile : 'https://randomuser.me/api/portraits/men/78.jpg'"></v-img>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>{{ user.name }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <div class="pa-2" v-if="guest">
        <v-btn block color="green darken-1" class="mb-1" @click="login">
          <v-icon left>mdi-lock</v-icon>
          Login
        </v-btn>
        <v-btn block color="orange" class="mb-1" @click="register">
          <v-icon left>mdi-account</v-icon>
          Register
        </v-btn>
      </div>

      <v-divider></v-divider>

      <v-list-item
        v-for="(item, index) in menus"
        :key="`menu-${index}`"
        :to="item.route"
      >
        <v-list-item-icon>
          <v-icon left>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

    </v-list>

    <template v-slot:append v-if="!guest">
      <div class="pa-2">
        <v-btn block color="blue" dark @click="account">
          <v-icon left>mdi-account</v-icon>
          User Account
        </v-btn>
      </div>

      <div class="pa-2">
        <v-btn block color="red" dark @click="logout">
          <v-icon left>mdi-lock</v-icon>
          Logout
        </v-btn>
      </div>
    </template>

  </v-navigation-drawer>

    <v-app-bar app color="primary" dark>
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

        <v-toolbar-title>Volcanos App</v-toolbar-title>
        <v-spacer></v-spacer>
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <v-slide-y-transition>
          <router-view></router-view>
        </v-slide-y-transition>
      </v-container>
    </v-main>

    <v-footer app>
      DBGunung 2022
    </v-footer>
  </v-app>

</template>

<script>

import { mapActions, mapGetters } from 'vuex';
export default {
  name: 'App',
  components: {
    AlertComponent : () => import('./components/AlertComponent.vue'),
    DialogComponent : () => import('./components/DialogComponent.vue')
  },

  data: () => ({
    drawer:false,
    menus:[
      {title:'Home',icon:'mdi-home',route:'/'},
      {title:'Status',icon:'mdi-note',route:'/status'},
    ],
    apiDomain: "http://localhost:8000",
    snackbarStatus: false,
    snackbarText: '',
  }),
  computed : {

    ...mapGetters({
      guest : 'auth/guest',
      user  : 'auth/user',
      token : 'auth/token'
    })
  },

  methods : {
    account(){
      this.setDialogComponent({'component' : 'account-component'})
    },
    logout(){
      let config = {
        method: 'get',
        url   : this.apiDomain + '/api/user',
        headers: {
          'Authorization': 'Bearer ' + this.token,
        }
      }
      this.axios(config)
        .then(() => {
          this.setToken('')
          this.setUser({})

          this.setAlert({
            status : true,
            color  : 'success',
            text   : 'Anda berhasil logout'
          })
        })
        .catch((responses) => {
          console.log(responses)
          
          this.setAlert({
            status : true,
            color  : 'error',
            text   : responses.data.error
          })        
        })
    },

    login(){
      this.setDialogComponent({'component' : 'login-component'})
    },

    register(){
      this.setDialogComponent({'component' : 'register-component'})
    },

    ...mapActions({
      setAlert           : 'alert/set',
      setDialogComponent : 'dialog/setComponent',
      setToken           : 'auth/setToken',
      setUser            : 'auth/setUser',
      checkToken         : 'auth/checkToken'
    }),
  },

  mounted() {
    if (this.token) {
      this.checkToken(this.token)
    }
  }
};
</script>
